@media (max-width: 600px) {
	.container, body {
	  width: auto;
	  padding-left: 20px;
	  padding-right: 20px;
	}
  
	.main-header {
	  width: 100%;
	  padding: 0px 20px;
	  margin: 0 auto;
	}

	.main-header nav li {
	  margin-right: 10px;
	  font-size: 0.8rem;
	}
  
	img {
	  width: 100%;
	  height: auto;
	}
	.toc {
	  display: none;
	}
	img[src*="shields.io"], 
	img[src*="badge"], 
	img[src*=".svg"] {
		width: auto !important;
		display: inline-block;
		margin: 2px 4px;
		vertical-align: middle;
		box-shadow: none;
		border-radius: 0;
	}

  }
  
  @media (max-width: 375px) {
	.container, body {
	  padding-left: 20px;
	  padding-right: 20px;
	}
  
	.toc {
	  display: none;
	}

	img[src*="shields.io"], 
	img[src*="badge"], 
	img[src*=".svg"] {
		width: auto !important;
		display: inline-block;
		margin: 2px 4px;
		vertical-align: middle;
		box-shadow: none;
		border-radius: 0;
	}
  }
  