<footer class="site-footer">
            <div class="footer-content">
                {{ if .Site.Params.icp }}
                
                    <div class="icp-info">
                        <span>&copy; {{ now.Year }} {{ .Site.Title }} · </span>
                        <a href="https://beian.miit.gov.cn/" target="_blank" rel="noopener">{{ .Site.Params.icp }}</a>
                    </div>
                {{ end }}

               
                <script defer pjax src="https://jsd.dusays.com/npm/penndu@17.0.0/bsz.js"></script>
            </div>
        </footer>
