{{ $curLanguageName := .Site.Language.LanguageName }}
<header>
  <div class="header-container">
    <div class="header-title">
      <a href="{{ .Site.LanguagePrefix }}/">
        <img src="/logo.png" alt="Logo" class="header-logo">
      </a>
    </div>
    <div class="header-items">
      {{ range .Site.Params.socials }}
      <div class="header-item">
        <a href="{{ .link }}" {{ if not (hasPrefix .link "/") }}target="_blank"{{ end }}>{{ .name }}</a>
      </div>
      {{ end }}
    </div>
  </div>
  <div class="header-subtitle">{{ .Site.Params.Description }}</div>
</header>
<div class="row">
  {{ range .Site.Languages -}} {{ if ne .LanguageName $curLanguageName }}
  <div class="lang-switch col-xs-3 col-xs-offset-9">
    <a href="/{{ .Lang }}/">{{ .LanguageName }}</a>
  </div>
  {{ end }} {{ end }}
</div>
<div class="header-line"></div>
